/* Font - Rubik. */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Font - Open Sans. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* Variables fonts. */ 
:root{
    /* Familys. */
    --font-family-titles: 'Rubik', 'Sans-serif', 'Poppins', 'Serif', 'Arial';
    --font-family-general: 'Open Sans'/*, 'Sans-serif', 'Poppins', 'Serif', 'Arial'. */;
    
    /* Sizes. */
    --font-size-title: 2.7rem;
    --font-size-container: 2.2rem;
    --font-size-general: 1rem;
}